IO_LOC  "columna[3]" 31;
IO_PORT "columna[3]" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;

IO_LOC  "columna[2]" 30;
IO_PORT "columna[2]" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;

IO_LOC  "columna[1]" 29;
IO_PORT "columna[1]" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;

IO_LOC  "columna[0]" 28;
IO_PORT "columna[0]" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;

IO_LOC  "fila[3]" 27;
IO_PORT "fila[3]" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;

IO_LOC  "fila[2]" 26;
IO_PORT "fila[2]" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;

IO_LOC  "fila[1]" 25;
IO_PORT "fila[1]" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;

IO_LOC  "fila[0]" 24;
IO_PORT "fila[0]" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;

IO_LOC  "rst" 4;
IO_PORT "rst" IO_TYPE=LVCMOS18;

IO_LOC  "clk" 52;
IO_PORT "clk" IO_TYPE=LVCMOS33 PULL_MODE=UP;
